.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pagination-button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(99, 196, 95, 0.75);
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.pagination-button:disabled {
  background-color: rgba(252, 147, 147, 0.75);
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: rgb(204, 227, 247);
}
