.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pagination-button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  font-weight: 550;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.light .pagination-button {
  background: rgba(99, 196, 95, 0.75);
}

.dark .pagination-button {
  background-color: rgba(43, 146, 206, 0.6);
}

.pagination-button:disabled {
  background-color: rgba(252, 147, 147, 0.75);
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: rgb(204, 227, 247);
  color: rgb(215 86 194);
}
