.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(151 218 210);
  padding: 10px;
}

.form-terms,
.form-field {
  display: flex;
  position: relative;
  padding-bottom: 25px;
  width: 95%;
}

.form-field label {
  width: 35%;
  text-align: start;
}

.form-field input {
  flex-grow: 1;
}

.form-terms {
  justify-content: start;
}

.form-terms .error {
  left: 21px;
  bottom: 7px;
}

.error {
  position: absolute;
  bottom: 3px;
  color: rgb(255, 0, 0);
  left: 50px;
}
