.card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card-checkbox {
  display: none;
}

.card-button {
  padding: 0 3px;
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  flex-grow: 1;
  transition: all ease-out 0.3s;
}

.light .card-button {
  background: rgba(99, 196, 95, 0.75);
}

.dark .card-button {
  background-color: rgba(43, 146, 206, 0.6);
  color: rgb(218 225 255);
  border-color: rgba(218, 225, 255, 0.6);
}

.card-button:hover {
  background-color: rgb(204, 227, 247);
}

.dark .card-button:hover {
  color: rgb(215 86 194);
}

.card-name {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
