.card-style {
  padding: 3px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  cursor: pointer;
}

.card-style:hover {
  background-color: #f0f8ff;
}

.card-name {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
