.main-container {
  margin: auto 0;
  display: grid;
  gap: 8px;
  grid-template-areas:
    'l d d'
    'l f f';
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: l;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid;
}

.light .list-container {
  background-color: rgba(243, 180, 128, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
}

.dark .list-container {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 10px rgba(0, 0.6, 0, 0.5);
}

.details-container {
  grid-area: d;
  display: flex;
  justify-content: center;
}

.fav-container {
  grid-area: f;
  display: flex;
  align-items: end;
}

.list-container .skeleton {
  background: rgba(158, 243, 155, 0.8);
}

.list-container .skeleton-container {
  padding-top: 35px;
}

.placeholder-text {
  text-align: center;
  font-size: 18px;
  color: #666;
  padding: 20px;
}
