.app {
  width: 100%;
  min-height: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 980px;
  min-height: 100%;
}

.light.app {
  background-image: url(../../assets/background-light.jpeg);
}

.dark.app {
  background-image: url(../../assets/background-dark.png);
}

.header {
  border-radius: 76px 76px 0 0;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid;
}

.dark .header {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 10px 10px 10px rgba(0, 0.6, 0, 0.5);
}

.light .header {
  background-color: rgba(243, 180, 128, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
}

.header-link {
  font-size: 20px;
  width: 30%;
  border-radius: 8px;
  border: 1px solid;
  transition: all ease-out 0.3s;
}

.light .header-link {
  background: rgba(99, 196, 95, 0.75);
  color: black;
  border-color: #ccc;
}

.dark .header-link {
  background-color: rgba(43, 146, 206, 0.6);
  color: rgb(218 225 255);
  border-color: rgba(218, 225, 255, 0.6);
}

.header-link:hover {
  color: black;
  background-color: rgb(204, 227, 247);
}

.footer {
  border-radius: 0 0 76px 76px;
}

.dark .footer {
  background-color: rgba(43, 146, 206, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
}

.light .footer {
  background-color: rgba(243, 180, 128, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
}

.light .footer-text {
  color: black;
}

.dark .footer-text {
  color: yellow;
}
