.app {
  display: flex;
  flex-direction: column;
  width: 980px;
  min-height: 100%;
}
.header {
  background-color: rgba(243, 180, 128, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
  border-radius: 76px 76px 0 0;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  font-size: 20px;
  width: 30%;
  border-radius: 8px;
  border: 1px solid #ccc;
  /* background-color: #f0f8ff; */
  background: rgba(99, 196, 95, 0.75);
  color: black;
  transition: all ease-out 0.3s;
}

.link:hover {
  color: black;
  background-color: rgb(204, 227, 247);
}

.footer {
  background-color: rgba(243, 180, 128, 0.6);
  box-shadow: 5px 5px 8px rgba(0, 0.6, 0, 0.5);
  border-radius: 0 0 76px 76px;
}
