.form {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(151 218 210);
  padding: 10px;
}

.form-terms,
.form-field {
  display: flex;
  position: relative;
  padding-bottom: 25px;
  width: 95%;
}

.form-field label {
  width: 35%;
  text-align: start;
}

.form-field input {
  flex-grow: 1;
}

.form-terms {
  justify-content: start;
}

.form-terms .error {
  left: 21px;
  bottom: 7px;
}

.error {
  position: absolute;
  bottom: 3px;
  color: rgb(255, 0, 0);
  left: 50px;
}

.label-password {
  position: relative;
}

.strength {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  top: 7px;
  right: 5px;
}

.strength.easy-pass {
  background-color: red;
}

.strength.medium-pass {
  background-color: orange;
}

.strength.hard-pass {
  background-color: green;
}
